.button {
    -fx-font: 12px "Consolas";
    -fx-border-color: #ffffff;
    -fx-background-color: #000000;
    -fx-text-fill: #ffffff;
}

.button-hover {
    -fx-border-color: #ddbbff;
}

.button-clicked {
    -fx-border-color: #8800ff;
}

.label {
    -fx-font: 12px "Consolas";
}

.text-field {
    -fx-font: 12px "Consolas";
    -fx-border-color: #ffffff;
    -fx-background-color: #000000;
    -fx-text-fill: #ffffff;
}